.burger__menu {
  position: relative;
  max-width: 394px;
  width: 100%;
  background-color: var(--bg-color);
}

.burger__menu:before {
  position: absolute;
  display: block;
  content: '';
  top: -27px;
  width: 52px;
  height: 30px;
  background-image: url('../img/triangle.svg');
  z-index: -1;
}

.burger__menu:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: var(--orange-color);
}

.burger__menu_list {
  padding-top: 70px;
  padding-left: 39px;
  padding-bottom: 50px;
}

.burger__menu_item {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.burger__menu_item:last-child {
  margin-bottom: 0;
}

.burger__hr {
  color: var(--orange-color); /* Устанавливаем цвет линии */
	background-color: var(--orange-color); /* Для кроссбраузерности (Opera и Mozilla Firefox) */
  max-width: 334px;
  width: 100%;
	height: 1px; /* Задаем толщину */
	border: none; /* Отменяем отображение границы (в браузере Firefox) */
  padding-left: 20px;
  margin-bottom: 15px;
  padding-right: 40px;
}
