.help {
  text-align: center;
  background-color: var(--bg-color);
  counter-reset: my-count;  
}

.title-before:before {  
  font-family: 'Comfortaa';
  font-weight: 400;
  font-size: 50px;
  counter-increment: my-count;
  content: counter(my-count);
  color: var(--orange-color);
  margin-right: 20px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 22px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.help__title {
  color: var(--orange-color);
  margin-bottom: 50px;
}

.help__desc {
  margin-bottom: 20px;
}

.help__desc:last-child {
  margin-bottom: 0;
}

.help__financial {
  display: flex;
}

.help__financial_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}

.help__financial_left {
  max-width: 480px;
  text-align: left;
  padding-left: 100px;
  margin-right: 120px;
}

.help__financial_right {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.help__financial_right_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.help__volunteer_wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.help__volunteer_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  padding-left: 100px;
  margin-bottom: 50px;
  text-align: left;
}

.help__volunteer_right {
  max-width: 580px;
  text-align: left;
  padding-top: 30px;
}

.help__conservator {
  display: flex;
}

.help__conservator_left {
  max-width: 580px;
  padding-left: 100px;
  text-align: left;
  padding-top: 30px;
  margin-right: 20px;
}

.help__conservator_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}

.help__conservator_right {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.help__conservator_add {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.help__btn {
  width: 180px;
  margin-bottom: 40px;
}